.idea/
*.iml
correomqtt-logfile_IS_UNDEFINED*
.classpath
.factorypath
.project
.settings/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

bin/
jdk-14/
lib/
openjdk-14*
share/
zulu13*
wix
hs_err*

local-repo.json

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.gradle
.idea
.qodana
build

