@import "global.css";

.appIcon {
    -fx-graphic: url("../icons/app-icon/Icon_128x128.png");
    -fx-padding: 20;
}

.appName {
    -fx-font-family: "sans-serif";
    -fx-font-size: 45;
    -fx-padding: 0 20 20 20;
}

.buttonBar {
    -fx-padding: 20 0 20 0;
}

.noConnectionsLabel {
    -fx-padding: 20 20 0 20;
}

.connectionListView .list-cell:empty {
    -fx-pref-height: 45;
}
