.root {
    -fx-base: #1e1e1e;
    -fx-background: #1e1e1e;
    -fx-color: #1e1e1e;
    -fx-control-inner-background: #1e1e1e;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);
    -fx-light-text-color: rgb(227, 227, 227);
    -fx-mid-text-color: rgb(160, 160, 160);
    -fx-dark-text-color: rgb(100, 100, 100);
    -fx-accent: rgb(0, 120, 215);
    -fx-selection-bar-non-focused: #0078d7;
}

.root .ikonli-font-icon {
    -fx-icon-color: white;
}

.successIcon .ikonli-font-icon {
    -fx-icon-color: #2e8b57;
}

.exclamationCircleSolid .ikonli-font-icon,
.failIcon .ikonli-font-icon {
    -fx-icon-color: #d32f2f;
}

.warnIcon .ikonli-font-icon {
    -fx-icon-color: #f9a825;
}

.ignoreIcon .ikonli-font-icon {
    -fx-icon-color: #9e9e9e;
}

.text-input {
    -fx-background-color: #1b1b1b;
    -fx-prompt-text-fill: #a0a0a0;
}

.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.messageSearchTextField {
    -fx-padding: 7px 5px 6px 5px;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(30,30,30);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(200, 200, 200);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}

.basicColors {
    -fx-background-color: #262626;
    -fx-text-fill: #eaeaea;
}

.styled-text-area {
    -fx-background-color: #1c1c1c;
}

.errorOnSave {
    -fx-background-color: #d32f2f;
}

.inactive {
    -fx-text-fill: #a0a0a0;
}

.editMenu {
    -fx-background-color: #1b1b1b;
    -fx-border-color: #1e1e1e;
}

.codeAreaPayload {
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #ffffff;
}

.brokerInfo {
    -fx-text-fill: #8c8c8c;
}

.brokerStatus {
    -fx-text-fill: #666666;
}

.codeArea {
    -fx-background-color: #1b1b1b;
    -fx-text-fill: #FFFFFF;
}

.emptyPayloadLabel {
    -fx-text-fill: grey;
}

.tag {
    -fx-background-color: #0078d7;
    -fx-text-fill: #eaeaea;
}

.tag.special {
    -fx-background-color: #ff5722;
}

.tag.secure {
    -fx-background-color: #4caf50;
}

.tag.inactive {
    -fx-background-color: #757575;
}

.tag.valid {
    -fx-background-color: #4caf50;
}

.tag.invalid {
    -fx-background-color: #f44336;
}

.secondaryText {
    -fx-text-fill: #666666;
}

.secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view {
    -fx-background-color: #1b1b1b;
    -fx-border-width: 1px;
    -fx-border-color: #5d5d5d;
}

.list-view:focused {
    -fx-border-width: 1px;
    -fx-border-color: #5d5d5d;
}

.list-view.noBorder,
.list-view.noBorder:focused {
    -fx-border-color: transparent;
}

.list-view .list-cell .topic {
    -fx-text-fill: #eaeaea;
}

.list-view .list-cell:odd {
    -fx-background-color: #212121;
}

.list-view .list-cell:even {
    -fx-background-color: #1e1e1e;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: #0078d7;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #3a9ef6;
}

.list-view .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #cccccc;
}

.list-view .list-cell:filled:selected .secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondLine {
    -fx-text-fill: #dddddd;
}

.list-view .list-cell .dirty .secondaryText,
.list-view .list-cell .dirty .primaryText {
    -fx-text-fill: #ff8c00;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #0078d7 !important;
}

.combo-box .list-view .list-cell:hover .stdLine {
    -fx-text-fill: #eaeaea !important;
}

.emptyError {
    -fx-background-color: #ffebee;
}

.code-area .text {
    -fx-background-color: #1b1b1b;
    -fx-fill: #a0a0a0;
}

.styled-text-area {
    -fx-fill: #a0a0a0;
    -fx-background-color: #1b1b1b;
}

.code-area .text .caret,
.styled-text-area .caret {
    -fx-stroke: #a0a0a0;
}

.tab.dirty .tab-label {
    -fx-text-fill: #8e1dd3;
}

.published {
    -fx-text-fill: gray;
}

.succeeded {
    -fx-text-fill: black;
}

.failed {
    -fx-text-fill: red;
}

.styled-text-area .commentXML {
    -fx-fill: #43a047;
}

.styled-text-area .tagmarkXML {
    -fx-fill: #2962ff;
}

.styled-text-area .anytagXML {
    -fx-fill: #1e88e5;
}

.styled-text-area .attributeXML {
    -fx-fill: #d32f2f;
}

.styled-text-area .avalueXML {
    -fx-fill: #66bb6a;
}

.styled-text-area .braceJSON,
.styled-text-area .bracketJSON {
    -fx-fill: #42a5f5;
}

.styled-text-area .keyJSON {
    -fx-fill: #42a5f5;
}

.styled-text-area .valueJSON {
    -fx-fill: #66bb6a;
}

.styled-text-area .numberJSON {
    -fx-fill: #ff7043;
}

.styled-text-area .booleanJSON {
    -fx-fill: #ffd54f;
}

.styled-text-area .nullJSON {
    -fx-fill: #9e9e9e;
}

.toolbar.top, .toolbar.bottom {
    -fx-background-color: transparent !important;
    -fx-border-width: 0 !important;
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #2d2d2d;
}

.button:focused {
    -fx-border-color: #5d5d5d;
}

.button:hover {
    -fx-border-color: #0078d7;
}

.button:pressed {
    -fx-background-color: #0078d7;
    -fx-border-color: #0078d7;
    -fx-text-fill: #FFFFFF;
}

.check-box > .box {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #2d2d2d;
    -fx-background-insets: 3px;
    -fx-background-color: transparent;
}

.check-box:focused > .box {
    -fx-border-color: #5d5d5d;
}

.check-box:hover > .box {
    -fx-border-color: #0078d7;
}

.check-box:selected > .box, .check-box:indeterminate > .box {
    -fx-background-color: #0078d7;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    visibility: hidden;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #1b1b1b;
}

.table-view .column-header {
    -fx-background-color: #1b1b1b;
    -fx-border-color: #1e1e1e;
    -fx-border-width: 0 1px 0 0;
}

.content-holder .menu-button {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #2d2d2d;
}

.content-holder .menu-button:focused {
    -fx-border-color: #5d5d5d;
}

.content-holder .menu-button:hover {
    -fx-border-color: #0078d7;
}

.content-holder .menu-button:pressed {
    -fx-background-color: #0078d7;
    -fx-border-color: #0078d7;
    -fx-text-fill: #FFFFFF;
}

.combo-box-base {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: #2d2d2d;
    -fx-border-color: #2d2d2d;
}

.combo-box-base:focused {
    -fx-border-color: #5d5d5d;
}

.combo-box-base:hover {
    -fx-border-color: #0078d7;
}

.combo-box-base:pressed {
    -fx-background-color: #0078d7;
    -fx-border-color: #0078d7;
    -fx-text-fill: #FFFFFF;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #3d3d3d;
    -fx-border-color: #3d3d3d;
}

.toggle-button:focused {
    -fx-border-color: #5d5d5d;
}

.toggle-button:hover {
    -fx-border-color: #0078d7;
}

.toggle-button:pressed {
    -fx-background-color: #0078d7;
    -fx-border-color: #0078d7;
}

.menu-bar {
    -fx-background-color: transparent;
}

.split-pane {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
    -fx-background-color: #2e2e2e;
}

.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
    -fx-background-color: #2e2e2e;
}

.codeAreaPayload {
    -fx-padding: 0 !important;
    -fx-border-width: 0 !important;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #5d5d5d, #1e1e1e;
    -fx-background-insets: 0, -1 0 1 0;
}

.tab-pane {
    -fx-border-width: 0;
}

.tab-pane .tab {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: #2d2d2d, #1b1b1b;
    -fx-background-insets: 0 0 1 0, 1 1 1 1;
}

.tab-pane .tab:hover {
    -fx-background-color: #414141, #1e1e1e;
}

.tab-pane .tab:selected {
    -fx-background-color: #5d5d5d, #1e1e1e;
    -fx-background-insets: 0, 1 1 -1 1;
}

.tab-pane .tab:pressed {
    -fx-background-color: #0078d7;
    -fx-text-fill: #FFFFFF;
}

.scroll-bar .thumb {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #3d3d3d;
    -fx-border-color: #3d3d3d;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}

.scroll-bar .thumb:focused {
    -fx-border-color: #5d5d5d;
}

.scroll-bar .thumb:hover {
    -fx-border-color: #0078d7;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #0078d7;
    -fx-border-color: #0078d7;
}

.scroll-bar .track {
    -fx-background-color: #1b1b6c;
}

.styled-text-area .braceJSON,
.styled-text-area .bracketJSON {
    -fx-fill: #82aaff;
}

.styled-text-area .keyJSON {
    -fx-fill: #82aaff;
}

.styled-text-area .valueJSON {
    -fx-fill: #c3e88d;
}

.styled-text-area .numberJSON {
    -fx-fill: #f77669;
}

.styled-text-area .booleanJSON {
    -fx-fill: #ffcb6b;
}

.styled-text-area .nullJSON {
    -fx-fill: #c6c6c6;
}