.root {
    -fx-base: #282828;
    -fx-background: #282828;
    -fx-color: #222222;
    -fx-control-inner-background: #222222;
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Fix derived prompt color for text fields */
.text-input {
    -fx-background-color: #161616;
    -fx-prompt-text-fill: #FFFFFF;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}
.basicColors {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #FFFFFF;
}
.styled-text-area {
    -fx-background-color: #1f1f1f;
}

/*connections.css*/
.errorOnSave {
    -fx-background-color: #e8c1c1;
}

.inactive {
    -fx-text-fill: #666666;
}

.editMenu {
    -fx-background-color: black;
    -fx-border-color: gray;
}

.codeArea {
    -fx-background-color: #111111;
        -fx-text-fill: #FFFFFF;
}

.emptyPayloadLabel{
    -fx-text-fill: grey;
}

/*controlBarView.css*/
.brokerInfo {
    -fx-text-fill: #aaaaaa;
}

.brokerStatus {
    -fx-text-fill: #666666;
}


.code-area .text{
  -fx-background-color: #111111;
  -fx-fill: #ffffff;
}

.styled-text-area{
  -fx-fill: #ffffff;
  -fx-background-color: #111111;
 }

.code-area .text .caret,
.styled-text-area .caret {
     -fx-stroke: #ffffff;
}


/*global.css*/
.tag {
    -fx-background-color: #125491;
    -fx-text-fill: #FFFFFF;
}

.tag.special {
    -fx-background-color: coral;
}

.tag.secure {
    -fx-background-color: #1a611a;
}

.tag.inactive {
    -fx-background-color: #999999;
}

.tag.valid {
    -fx-background-color: #59a950;
}

.tag.invalid {
    -fx-background-color: #a9423f;
}

.secondaryText {
    -fx-text-fill: #666666;
}

.secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view .list-cell .topic{
    -fx-text-fill: #FFFFFF;
}

.list-view .list-cell:odd {
    -fx-background-color: #333333;
}

.list-view .list-cell:odd {
    -fx-background-color: #222222;
}

.list-view .list-cell:even {
    -fx-background-color: #333333;
}

.list-view .list-cell:filled:selected, .list-view  .list-cell:filled:selected {
    -fx-background-color: #195494;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #2180d7;
}

.list-view .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #cccccc;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #eeeeee;
}

.list-view .list-cell:filled:selected .secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText.dirty {
    -fx-text-fill: #dddddd;
}

.list-view .list-cell .dirty {
    -fx-text-fill: #e21e18;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:odd  {
    -fx-background-color: #6e6e6e;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:even  {
    -fx-background-color: #8a8a8a;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .stdLine{
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .firstLine {
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #666666;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #2180d7 !important;
}

.combo-box .list-view .list-cell:hover .stdLine {
    -fx-text-fill: #FFFFFF  !important;
}

.combo-box .list-view .list-cell:hover .firstLine {
    -fx-text-fill: #FFFFFF  !important;
}

.combo-box .list-view .list-cell:hover .secondLine {
    -fx-text-fill: #FFFFFF  !important;
}

.emptyError {
    -fx-background-color: #e8c1c1;
}

.hello {
    -fx-background-color: blue;
}

*:disabled .styled-text-area .text {
    -fx-fill: #bbbbbb;
}

*:disabled .styled-text-area{
    -fx-background-color: #111111;
}

/*mainView.css*/
.tab.dirty .tab-label {
    -fx-text-fill: #8e1dd3;
}

/*messageView.css*/
.published {
    -fx-text-fill: gray;
}

.succeeded {
    -fx-text-fill: black;
}

.failed {
    -fx-text-fill: red;
}

/*.publishBody.css*/

/*richtextfx.css*/

.styled-text-area .commentXML {
    -fx-fill: #107e00;
}

.styled-text-area .tagmarkXML {
    -fx-fill: #436dd5;

}

.styled-text-area .anytagXML {
    -fx-fill: #4b79ec;
}

.styled-text-area .attributeXML {
    -fx-fill: #e33c42;
}

.styled-text-area .avalueXML {
    -fx-fill: #3bde3b;
}

.styled-text-area .braceJSON,
.styled-text-area .bracketJSON {
    -fx-fill: #4b7aee;
}

.styled-text-area .keyJSON {
    -fx-fill: #4b7aee
}

.styled-text-area .valueJSON {
    -fx-fill: #3bdf3b;
}

.styled-text-area .numberJSON {
    -fx-fill: #df3b41;
}

.styled-text-area .booleanJSON {
    -fx-fill: #f09c00;
}

.styled-text-area .nullJSON {
    -fx-fill: #c6c6c6;
}


.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab:selected
{
  -fx-background-color: #262626, #343434 ;
   -fx-background-insets: 0 0 1 0,  1 1 -1 1;
}

.onBoardingHolder {
  -fx-background-color: #343434;
}


.menu-bar {
    -fx-background-color: #343434;
     -fx-effect: null;
     -fx-drop-shadow: null;
 }
.menu { /* The File menu item */ }
.menu:showing { /* menu when it's being shown (activated) */ }
.menu .label { /* Styles the text on a menu item */ }
.menu:showing .label { /* Styles the text on a menu item when activated */ }
