@import "global.css";

/*.tab.dirty {
    -fx-background-color: linear-gradient(to bottom, derive(#ffa19c, 30%) 40%, derive(#ffa19c, -5%) 95%);
    -fx-border-color: #7c0004;
}*/

.tab .tab-label {
    -fx-padding: 0 10 0 2;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab.connection.onboarding .tab-label {
    -fx-padding: 0 10 0 2;
    -fx-background-image: none;
}

.tab.addConnectionTab .tab-label {
    -fx-padding: 0 10 0 10;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

