@import "global.css";

.headline {
    -fx-padding: 10;
}

.plusMinus {
    -fx-background-size: 15px 15px;
}

.upDown {
    -fx-background-size: 21px 21px;
}

.connectionListActions {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-min-width: 32;
    -fx-max-width: 32;
}

.inactive {
    -fx-font-size: 10;
}

.list-cell:empty {
    -fx-pref-height: 45;
}

.editMenu {
    -fx-border-width: 0 1 0 0;
}

.codeAreaPayload {
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: derive(-fx-base, -10%);
}

.settingsLabel {
    -fx-padding: 5 0 5 0;
    -fx-font-weight: bold;
}

.settingsDescription {
    -fx-padding: 0 10 20 0;
}

.settingsLabel.disabled {
    -fx-text-fill: #777777;
    -fx-font-weight: bold;
}
