@import "global.css";

.log.styled-text-area .caret {
    -fx-stroke: #34c400;
}

.log.styled-text-area {
    -fx-background-color: #000000;
}

.log.styled-text-area * {
    -fx-fill: #34c400;
}

.log.styled-text-area .default {
    -fx-fill: #34c400;
}

.log.styled-text-area .cyan {
    -fx-fill: #009485;
}

.log.styled-text-area .blue {
    -fx-fill: #3993d4;
}

.log.styled-text-area .magenta {
    -fx-fill: #a370bd;
}

.log.styled-text-area .yellow {
    -fx-fill: #AA750C;
}

.log.styled-text-area .orange {
    -fx-fill: #aa4e0c;
}

.log.styled-text-area .red {
    -fx-fill: #aa0c0c;
}

.log.styled-text-area .selection {
    -fx-fill: #444444;
}