@import "global.css";

.plusMinus {
    -fx-background-size: 15px 15px;
}

.upDown {
    -fx-background-size: 21px 21px;
}

.connectionListActions {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-min-width: 32;
    -fx-max-width: 32;
}

.black .plus-solid {
    -fx-background-image: url('../icons/plus-solid-black.png');
}

.white .plus-solid {
    -fx-background-image: url('../icons/plus-solid-white.png');
}

.black .minus-solid {
    -fx-background-image: url('../icons/minus-solid-black.png');
}

.white .minus-solid {
    -fx-background-image: url('../icons/minus-solid-white.png');
}

.black .angle-up-solid {
    -fx-background-image: url('../icons/angle-up-solid-black.png');
}

.white .angle-up-solid {
    -fx-background-image: url('../icons/angle-up-solid-white.png');
}

.black .angle-down-solid {
    -fx-background-image: url('../icons/angle-down-solid-black.png');
}

.white .angle-down-solid {
    -fx-background-image: url('../icons/angle-down-solid-white.png');
}

.black .file-upload-solid {
    -fx-background-image: url('../icons/file-upload-solid-black.png');
}

.black .file-export-solid {
    -fx-background-image: url('../icons/file-export-solid-black.png');
}

.white .file-upload-solid {
    -fx-background-image: url('../icons/file-upload-solid-white.png');
}

.white .file-export-solid {
    -fx-background-image: url('../icons/file-export-solid-white.png');
}

.black .folder-open-solid {
    -fx-graphic: url('../icons/folder-open-solid-black.png');
}

.white .folder-open-solid {
    -fx-graphic: url('../icons/folder-open-solid-white.png');
}

.exclamationCircleSolid {
    -fx-background-image:url('../icons/exclamation-circle-solid.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 5 center;
    -fx-padding: 5 23 5 8;
}

.inactive {
    -fx-font-size: 10;
}

.list-cell:empty {
    -fx-pref-height: 45;
}

.editMenu {
    -fx-border-width: 0 1 0 0;
}

.codeAreaPayload {
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: derive(-fx-base, -10%);
}