@import "global.css";

.black .columns-solid-right {
    -fx-graphic: url('../icons/columns-solid-right-black.png');
}

.white .columns-solid-right {
    -fx-graphic: url('../icons/columns-solid-right-white.png');
}

.black .columns-solid-left {
    -fx-graphic: url('../icons/columns-solid-left-black.png');
}

.white .columns-solid-left {
    -fx-graphic: url('../icons/columns-solid-left-white.png');
}

.black .columns-solid {
    -fx-graphic: url('../icons/columns-solid-black.png');
}

.white .columns-solid {
    -fx-graphic: url('../icons/columns-solid-white.png');
}

.grayStatus {
    -fx-graphic: url('../icons/wifi-solid-gray.png');
}

.redStatus {
    -fx-graphic: url('../icons/wifi-solid-red.png');
}

.yellowStatus {
    -fx-graphic: url('../icons/wifi-solid-yellow.png');
}

.black .greenStatus {
    -fx-graphic: url('../icons/wifi-solid-green-black.png');
}

.white .greenStatus {
    -fx-graphic: url('../icons/wifi-solid-green-white.png');
}

.brokerStatus {
    -fx-font-size: 10;
}

.toggle-button.columns-solid-right{
  -fx-background-radius: 0 3 3 0;
  -fx-border-radius: 0 3 3 0;
}

.toggle-button.columns-solid {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.toggle-button.columns-solid-left {
  -fx-background-radius: 3 0 0 3;
  -fx-border-radius: 3 0 0 3;
}
