@import "global.css";

.black .columns-solid-right {
    -fx-graphic: url('../icons/columns-solid-right-black.png');
}

.white .columns-solid-right {
    -fx-graphic: url('../icons/columns-solid-right-white.png');
}

.black .columns-solid-left {
    -fx-graphic: url('../icons/columns-solid-left-black.png');
}

.white .columns-solid-left {
    -fx-graphic: url('../icons/columns-solid-left-white.png');
}

.black .columns-solid {
    -fx-graphic: url('../icons/columns-solid-black.png');
}

.white .columns-solid {
    -fx-graphic: url('../icons/columns-solid-white.png');
}

.black .save-ui {
    -fx-graphic: url('../icons/save-solid-black.png');
}

.white .save-ui {
    -fx-graphic: url('../icons/save-solid-white.png');
}

.black .reset-ui {
    -fx-graphic: url('../icons/trash-restore-alt-solid-black.png');
}

.white .reset-ui {
    -fx-graphic: url('../icons/trash-restore-alt-solid-white.png');
}

.grayStatus {
    -fx-graphic: url('../icons/svg/wifi-solid-gray.svg');
}

.redStatus {
    -fx-graphic: url('../icons/svg/wifi-solid-red.svg');
}

.yellowStatus {
    -fx-graphic: url('../icons/svg/wifi-solid-yellow.svg');
}

.black .greenStatus {
    -fx-graphic: url('../icons/svg/wifi-solid-green.svg');
}

.white .greenStatus {
    -fx-graphic: url('../icons/svg/wifi-solid-green.svg');
}

.brokerStatus {
    -fx-font-size: 10;
}

.toggle-button.columns-solid-right{
  -fx-background-radius: 0 3 3 0;
  -fx-border-radius: 0 3 3 0;
}

.toggle-button.columns-solid {
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

.toggle-button.columns-solid-left {
  -fx-background-radius: 3 0 0 3;
  -fx-border-radius: 3 0 0 3;
}

.button.save-ui {
    -fx-background-radius: 3 0 0 3;
    -fx-border-radius: 3 0 0 3;
}

.button.reset-ui{
    -fx-background-radius: 0 3 3 0;
    -fx-border-radius: 0 3 3 0;
}
