@import "global.css";
@import "richtextfx.css";

.detailTopic {
    -fx-font-family:"sans-serif";
    -fx-font-weight:  bold;
}

.metaHolder {
    -fx-padding: 5 5 5 5;
}

.detailView .tag {
    -fx-padding: 2 5 2 10;
    -fx-border-insets: 0 0 0 5;
    -fx-background-insets: 0 0 0 5;
}

.angle-down-solid {
    -fx-background-radius: 0 3 3 0;
}

.angle-up-solid {
    -fx-background-radius: 3 0 0 3;
}


.emptyPayloadLabel{
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.menuItem .label{
    -fx-padding: 0 0 0 20;
}
