@import "global.css";

.appIcon {
    -fx-graphic: url("../icons/app-icon/Icon_128x128.png");
    -fx-padding: 20;
}

.appName {
    -fx-font-family: "sans-serif";
    -fx-font-size: 40;
    -fx-padding: 0 20 0 20;
}

.preloaderProgressLabel {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-min-width: 16;
    -fx-max-width: 16;
}

.black .preloaderProgressLabel {
    -fx-background-image: url('../icons/oval-black.png');
}

.white .preloaderProgressLabel {
    -fx-background-image: url('../icons/oval-white.png');
}
