[Desktop Entry]
Name=CorreoMQTT
Comment=CorreoMQTT
Exec=/opt/correomqtt/bin/CorreoMQTT
Icon=/opt/correomqtt/lib/CorreoMQTT.png
StartupWMClass=org.correomqtt.JavaFXApplication
Terminal=false
Type=Application
Categories=Unknown
MimeType=
