.root {
    -fx-base: #313131;
    -fx-background: #313131;
    -fx-color: #313131;
    -fx-control-inner-background: #313131;
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 2.5%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(189,195,199);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(61,174,233);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: #3daee9; /*rgb(50, 50, 50);*/
}


.root .ikonli-font-icon {
    -fx-icon-color: white;
}

.successIcon .ikonli-font-icon{
    -fx-icon-color: green;
}

.exclamationCircleSolid .ikonli-font-icon,
.failIcon .ikonli-font-icon {
    -fx-icon-color: #da4453;
}

.warnIcon .ikonli-font-icon {
    -fx-icon-color: orange;
}


.ignoreIcon .ikonli-font-icon {
    -fx-icon-color: gray;
}


/* Fix derived prompt color for text fields */
.text-input {
    -fx-background-color: #232323;
    -fx-prompt-text-fill: #bdbdbd;
}

/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.messageSearchTextField {
    -fx-padding: 7px 5px 6px 5px;
}

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(49,54,59);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}
.basicColors {
    -fx-background-color:  #2a2a2a;
    -fx-text-fill: #eff0f1;
}
.styled-text-area {
    -fx-background-color: #1f1f1f;
}

/*connections.css*/
.errorOnSave {
    -fx-background-color: #da4453;
}

.inactive {
    -fx-text-fill: #bdbdbd;
}

.editMenu {
    -fx-background-color: #232323;
    -fx-border-color: #313131;
}

.codeAreaPayload {
    -fx-background-color: #232323;
    -fx-text-fill: #FFFFFF;
}

/*controlBarView.css*/
.brokerInfo {
    -fx-text-fill: #aaaaaa;
}

.brokerStatus {
    -fx-text-fill: #666666;
}

/*detailView.css*/
.codeArea {
    -fx-background-color: #232323;
    -fx-text-fill: #FFFFFF;
}

.emptyPayloadLabel{
    -fx-text-fill: grey;
}

/*global.css*/
.tag {
    -fx-background-color: #125491;
    -fx-text-fill: #eff0f1;
}

.tag.special {
    -fx-background-color: coral;
}

.tag.secure {
    -fx-background-color: #1a611a;
}

.tag.inactive {
    -fx-background-color: #999999;
}

.tag.valid {
    -fx-background-color: #59a950;
}

.tag.invalid {
    -fx-background-color: #a9423f;
}

.secondaryText {
    -fx-text-fill: #666666;
}

.secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view {
    -fx-background-color: #232323;
    -fx-border-width: 1px;
    -fx-border-color: #616161;
    -fx-effect: null;
    -fx-drop-shadow: null;
}

.list-view:focused {
    -fx-border-width: 1px;
    -fx-border-color: #616161;
    -fx-effect: null;
    -fx-drop-shadow: null;
    -fx-background-insets: 1px;
}

.list-view.noBorder,
.list-view.noBorder:focused {
    -fx-border-color: transparent;
}

.list-view .list-cell .topic{
    -fx-text-fill: #eff0f1;
}

.list-view .list-cell:odd {
    -fx-background-color: #292929;
}

.list-view .list-cell:even {
    -fx-background-color: #222222;
}

.list-view .list-cell:filled:selected, .list-view  .list-cell:filled:selected {
    -fx-background-color: #195494;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #2180d7;
}

.list-view .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #cccccc;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #eeeeee;
}

.list-view .list-cell:filled:selected .secondaryText.dirty {
    -fx-text-fill: #666666;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText.dirty {
    -fx-text-fill: #dddddd;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondLine {
    -fx-text-fill: #dddddd;
}

.list-view .list-cell .dirty .secondaryText,
.list-view .list-cell .dirty .primaryText{
    -fx-text-fill: #ff8242;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:odd  {
    -fx-background-color: #195494;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:even  {
    -fx-background-color: #195494;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .stdLine{
    -fx-text-fill: #eff0f1;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .firstLine {
    -fx-text-fill: #eff0f1;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .secondaryText {
    -fx-text-fill: #666666;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:odd .secondaryText {
    -fx-text-fill: #eff0f1;
}

.combo-box .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:even .secondaryText {
    -fx-text-fill: #eff0f1;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #3daee9 !important;
}

.combo-box .list-view .list-cell:hover .stdLine {
    -fx-text-fill: #eff0f1  !important;
}

.combo-box .list-view .list-cell:hover .firstLine {
    -fx-text-fill: #eff0f1  !important;
}

.combo-box .list-view .list-cell:hover .secondLine {
    -fx-text-fill: #eff0f1  !important;
}

.emptyError {
    -fx-background-color: #e8c1c1;
}

.hello {
    -fx-background-color: blue;
}

.code-area .text{
    -fx-background-color: #232323;
    -fx-fill: #bdbdbd;
}

.styled-text-area{
    -fx-fill: #bdbdbd;
    -fx-background-color: #232323;
}

.code-area .text .caret,
.styled-text-area .caret {
    -fx-stroke: #bdbdbd;
}

/*mainView.css*/
.tab.dirty .tab-label {
    -fx-text-fill: #8e1dd3;
}

/*messageView.css*/
.published {
    -fx-text-fill: gray;
}

.succeeded {
    -fx-text-fill: black;
}

.failed {
    -fx-text-fill: red;
}

/*.publishBody.css*/

/*richtextfx.css*/
.styled-text-area .commentXML {
    -fx-fill: #107e00;
}

.styled-text-area .tagmarkXML {
    -fx-fill: #436dd5;

}

.styled-text-area .anytagXML {
    -fx-fill: #4b79ec;
}

.styled-text-area .attributeXML {
    -fx-fill: #e33c42;
}

.styled-text-area .avalueXML {
    -fx-fill: #3bde3b;
}

.styled-text-area .braceJSON,
.styled-text-area .bracketJSON {
    -fx-fill: #4b7aee;
}

.styled-text-area .keyJSON {
    -fx-fill: #4b7aee
}

.styled-text-area .valueJSON {
    -fx-fill: #3bdf3b;
}

.styled-text-area .numberJSON {
    -fx-fill: #df3b41;
}

.styled-text-area .booleanJSON {
    -fx-fill: #f09c00;
}

.styled-text-area .nullJSON {
    -fx-fill: #c6c6c6;
}


.toolbar.top {
    -fx-background-color: transparent !important;
    -fx-border-color: none;
}

.toolbar.bottom {
    -fx-background-color: transparent !important;
    -fx-border-width: 0 !important;
}

.button {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: #3d3d3d;
    -fx-border-color:#3d3d3d;
}

.button:focused {
    -fx-border-color: #616161;
}

.button:hover {
    -fx-border-color: #3daee9;
}


.button:pressed {
    -fx-background-color: #3daee9;
    -fx-border-color: #3daee9;
    -fx-text-fill: #FFFFFF;
}

.check-box > .box {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color:#3d3d3d;
    -fx-background-insets: 3px;
    -fx-background-color: transparent;

}
.check-box:focused > .box {
    -fx-border-color: #616161;
}


.check-box:hover > .box {
    -fx-border-color: #3daee9;
}

.check-box:selected > .box ,
.check-box:indeterminate  > .box {
    -fx-background-color: #3daee9;

}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    visibility: hidden;
}

.table-view  {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  #232323;
}

.table-view .column-header {
    -fx-background-color:   #232323;
    -fx-border-color: #313131;
    -fx-border-width: 0 1px 0 0;
}


.content-holder .menu-button {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: #3d3d3d;
    -fx-border-color:#3d3d3d;
}

.content-holder .menu-button:focused {
    -fx-border-color: #616161;
}

.content-holder .menu-button:hover {
    -fx-border-color: #3daee9;
}


.content-holder .menu-button:pressed {
    -fx-background-color: #3daee9;
    -fx-border-color: #3daee9;
    -fx-text-fill: #FFFFFF;
}

.combo-box-base {
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-background-color: #3d3d3d;
    -fx-border-color:#3d3d3d;
}

.combo-box-base:focused {
    -fx-border-color: #616161;
}

.combo-box-base:hover {
    -fx-border-color: #3daee9;
}

.combo-box-base:pressed {
    -fx-background-color: #3daee9;
    -fx-border-color: #3daee9;
    -fx-text-fill: #FFFFFF;
}

.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-background-color: #3d3d3d;
    -fx-border-color:#3d3d3d;
}

.toggle-button.columns-solid-left,
.toggle-button.columns-solid,
.toggle-button.columns-solid-right {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: #3d3d3d;
    -fx-background-insets: 1px;
}

.toggle-button.columns-solid-left:selected,
.toggle-button.columns-solid:selected,
.toggle-button.columns-solid-right:selected,
.toggle-button:selected {
    -fx-background-color: #575b5f;
    -fx-border-color: #575b5f;
}

.toggle-button.columns-solid-left:focused,
.toggle-button.columns-solid:focused,
.toggle-button.columns-solid-right:focused,
.toggle-button:focused {
    -fx-border-color: #616161;
}

.toggle-button.columns-solid-left:hover,
.toggle-button.columns-solid:hover,
.toggle-button.columns-solid-right:hover,
.toggle-button:hover {
    -fx-border-color: #3daee9;
}

.toggle-button.columns-solid-left:pressed,
.toggle-button.columns-solid:pressed,
.toggle-button.columns-solid-right:pressed,
.toggle-button:pressed {
    -fx-background-color: #3daee9;
    -fx-border-color: #3daee9;
}


.toggle-button.columns-solid-right{
    -fx-background-radius: 0 2 2 0;
    -fx-border-radius: 0 2 2 0;
}

.toggle-button.columns-solid {
    -fx-background-radius: 0;
}

.toggle-button.columns-solid-left {
    -fx-background-radius: 2 0 0 2;
    -fx-border-radius: 2 0 0 2;
}


.menu-bar {
    -fx-background-color: transparent;
    -fx-effect: null;
    -fx-drop-shadow: null;
}
.menu { /* The File menu item */ }
.menu:showing { /* menu when it's being shown (activated) */ }
.menu .label { /* Styles the text on a menu item */ }
.menu:showing .label { /* Styles the text on a menu item when activated */ }

.split-pane {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
    -fx-background-color: #2e2e2e;
}
.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0 2px 0 2px;
    -fx-background-color: #2e2e2e;
}

.codeAreaPayload {
    -fx-padding: 0 !important;
    -fx-border-width: 0 !important;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:  #616161, #313131;
    -fx-background-insets: 0, -1 0 1 0;
}

.tab-pane
{

}

.tab-pane .tab{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #313131, #232323;
    -fx-background-insets: 0 0 1 0,  1 1 1 1;
}

.tab-pane .tab:hover {
    -fx-background-color: #313131, #222222;
}

.tab-pane .tab:selected
{
    -fx-background-color: #616161, #313131 ;
    -fx-background-insets: 0,  1 1 -1 1;
}

.tab-pane .tab:pressed {
    -fx-background-color: #616161, #3daee9;
    -fx-text-fill: #FFFFFF;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/*
.tab-pane > .tab-header-area {
  -fx-border-width: 0 0 1px 0 !important;
  -fx-border-color: #616161 !important;
}
*/

.tab .tab-label {

}

.tab:selected .tab-label {

}

.menu-item:showing .label{
    -fx-text-fill: #FFFFFF;
}

.menu-button:showing .label{
    -fx-text-fill: #FFFFFF;
}

.menu-item:focused .label{
    -fx-text-fill: #FFFFFF;
}

.menu-button:focused .label{
    -fx-text-fill: #FFFFFF;
}

.menu-item:hover .label{
    -fx-text-fill: #FFFFFF;
}

.menu-button:hover .label{
    -fx-text-fill: #FFFFFF;
}

/* scrollbar */

.scroll-bar .thumb {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #3d3d3d;
    -fx-border-color:#3d3d3d;
    -fx-border-insets: 4px;
    -fx-background-insets: 4px;
}

.scroll-bar .thumb:focused {
    -fx-border-color: #616161;
}

.scroll-bar .thumb:hover {
    -fx-border-color: #3daee9;
}


.scroll-bar .thumb:pressed {
    -fx-background-color: #3daee9;
    -fx-border-color: #3daee9;
}

.scroll-bar .track {
    -fx-background-color: #232323;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}